
.link-button a {
    color: #ffffff61;
    font-size: 12px;
    text-decoration: none;
}

.link-button a > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-button.is-selected a,
.link-button a:hover {
    color: #fc0;
}
